[class*="push"] {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: #c2290a;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 100ms;
  line-height: 120px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "permanent_markerregular";
  text-transform: uppercase;
  color: white; }

.push--flat {
  box-shadow: inset 0 3.75px 0 #da2e0b, inset 0 -3.75px 0 #aa2409, inset 0 0 0 3.75px #b32609, inset 0 0 0 10px #c2290a, inset 0 0 0 12px #611405, inset 0 0 0 13.04348px black, inset 0 0 0 16px rgba(247, 133, 110, 0.7), inset 0 0 0 21.81818px #c2290a, inset 0 48px 16px #aa2409, inset 0 0 12px 20px #911f08, 0 6px 0 rgba(0, 0, 0, 0.3); }
  .push--flat:after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 12px;
    display: block;
    width: 96px;
    height: 96px;
    border: 8px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 8px;
    border-radius: 50%;
    transition-duration: 100ms; }
  .push--flat:active, .push--flat.is-pushed {
    box-shadow: inset 0 3.75px 0 #da2e0b, inset 0 -3.75px 0 #aa2409, inset 0 0 0 3.75px #b32609, inset 0 0 0 10px #c2290a, inset 0 0 0 12px #611405, inset 0 0 0 14.11765px black, inset 0 0 0 16px rgba(247, 133, 110, 0.2), inset 0 0 0 21.81818px #b32609, inset 0 48px 16px #9b2108, inset 0 0 12px 20px #791a06, 0 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #b8270a; }
    .push--flat:active:after, .push--flat.is-pushed:after {
      bottom: 14px;
      border-width: 0; }
