.add-module:before {
  content: '';
  width: 120vw;
  height: 100vh;
  background-color: #e7004a;
  position: fixed;
  z-index: 1;
  -webkit-transform: skew(-65deg);
  -ms-transform: skew(-65deg);
  transform: skew(-65deg);
  top: 0;
  left: -100%; }

.add-module .add-content {
  position: relative;
  padding-bottom: 100px;
  z-index: 1; }

.add-module .add-form-response {
  width: 70%;
  margin: 0 0 0 15%; }

.add-module .user-messages {
  position: absolute;
  bottom: 130px;
  font-size: 30px;
  font-family: "permanent_markerregular"; }

.add-module .user-messages .error {
  color: #fa1862;
  text-shadow: 2px 2px 0 #30000f; }

.add-module .user-messages .success {
  color: #1bc300;
  text-shadow: 2px 2px 0 #052300; }
