.places-module:before {
  content: '';
  width: 120vw;
  height: 100vh;
  background-color: #e7004a;
  position: fixed;
  z-index: 1;
  -webkit-transform: skew(-65deg);
  -ms-transform: skew(-65deg);
  transform: skew(-65deg);
  top: 0;
  left: -100%; }

.places-module .places-content {
  position: relative; }
