.add-form {
  width: 70%;
  margin: 50px 0 0 15%; }
  .add-form .form-group {
    margin-bottom: 30px; }
    .add-form .form-group input[type="text"] {
      width: 100%;
      padding: 20px 30px;
      border: 0;
      font-size: 24px;
      color: white;
      outline: none;
      background: #1bc300;
      box-shadow: 5px 5px 0 0 #127f00, 10px 10px 0 0 #105b00;
      font-family: Courier New, Consolas, Monaco, Lucida Console, monospace;
      transition: all .3s; }
      .add-form .form-group input[type="text"]::-webkit-input-placeholder {
        color: white;
        font-style: italic; }
      .add-form .form-group input[type="text"]:focus {
        box-shadow: 5px 5px 0 0 #105b00; }
    .add-form .form-group radiogroup {
      display: flex;
      justify-content: center;
      padding: 20px 0px;
      background: #1bc300;
      box-shadow: 5px 5px 0 0 #127f00, 10px 10px 0 0 #105b00; }
      .add-form .form-group radiogroup label {
        margin: 5px 20px 0;
        position: relative;
        top: 10px;
        font-size: 24px;
        font-family: Courier New, Consolas, Monaco, Lucida Console, monospace;
        color: white; }
      .add-form .form-group radiogroup input {
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%); }
  .add-form .form-submit-container {
    display: flex;
    justify-content: flex-end; }
    .add-form .form-submit-container .submit-btn {
      position: relative; }
