.random
  &-content
    position: absolute
    top: 50%
    left: 50%
    max-width: 80%
    transform: translate(-50%, -50%)
    z-index: 2

    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 50vh
      height: 190vh
      transform: translate(-50%, -50%) rotate(65deg)
      background-color: #fbaa00
      z-index: -1

  &-title
    margin: 0 0 20px 0
    text-align: center
    line-height: 1em
    font-size: 120px
    font-family: "permanent_markerregular"
    text-transform: uppercase
    text-shadow:  -5px -5px 0px #510823
    color: #fa1862

  &-description
    display: flex
    justify-content: center
    font-size: 22px
    font-family: "serif"
    font-style: italic
    color: #4f3100

    &>p
      max-width: 80%

    .quote-mark
      font-size: 32px

  &-website
    &-link
      font-family: Courier New, Consolas, Monaco, Lucida Console, monospace
      color: #ff0
      text-decoration: none
      border-bottom: 2px dashed #ff0

  &-type-and-price
    font-family: Courier New, Consolas, Monaco, Lucida Console, monospace

  &-type
    text-transform: lowercase

    .type
      font-style: italic
      font-weight: bold

  &-price
    .price
      font-style: italic
      font-weight: bold

  &-reload
    position: fixed
    bottom: 40px
    left: 20px
    font-size: 18px
    font-family: "permanent_markerregular"
    text-transform: uppercase
    color: white
    z-index: 3

  &-map-outter-container
    position: absolute
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    background-color: #1bc300
    z-index: 0

    .map
      height: 100vh
      width: 100vw

$push-color: hsla(10, 90%, 40%, 1)
$push-size: 120px

[class*="push"]
  display: inline-block
  width: $push-size
  height: $push-size
  border: 0
  margin: 1em
  outline: none
  background-color: $push-color
  border-radius: 50%
  cursor: pointer
  transition: box-shadow 100ms
  line-height: $push-size
  text-align: center
  text-decoration: none

.push--flat
  box-shadow: inset 0 $push-size/32 0 lighten($push-color, 5%), inset 0 (-$push-size/32) 0 darken($push-color, 5%), inset 0 0 0 $push-size/32 darken($push-color, 3%), inset 0 0 0 $push-size/12 $push-color, inset 0 0 0 $push-size/10 darken($push-color, 20%), inset 0 0 0 $push-size/9.2 darken($push-color, 50%), inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .3), inset 0 0 0 $push-size/5.5 $push-color, inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 5%), inset 0 0 $push-size/10 $push-size/6 darken($push-color, 10%), 0 $push-size/20 0 rgba(0, 0, 0, .3)

  &:after
    content: ''
    position: absolute
    bottom: $push-size/20
    left: $push-size/10
    display: block
    width: $push-size/1.25
    height: $push-size/1.25
    border: $push-size/15 solid rgba(0, 0, 0, .3)
    border-width: 0 0 $push-size/15
    border-radius: 50%
    transition-duration: 100ms

  &:active,
  &.is-pushed
    box-shadow: inset 0 $push-size/32 0 lighten($push-color, 5%), inset 0 (-$push-size/32) 0 darken($push-color, 5%), inset 0 0 0 $push-size/32 darken($push-color, 3%), inset 0 0 0 $push-size/12 $push-color, inset 0 0 0 $push-size/10 darken($push-color, 20%), inset 0 0 0 $push-size/8.5 darken($push-color, 40%), inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .8), inset 0 0 0 $push-size/5.5 darken($push-color, 3%), inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 8%), inset 0 0 $push-size/10 $push-size/6 darken($push-color, 15%), 0 $push-size/20 0 rgba(0, 0, 0, .3)
    background-color: darken($push-color, 2%)

    &:after
      bottom: $push-size/20 + $push-size/15
      border-width: 0
