.random
  &-content
    position: absolute
    top: 50%
    left: 50%
    max-width: 80%
    transform: translate(-50%, -50%)
    z-index: 2

    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 50vh
      height: 190vh
      transform: translate(-50%, -50%) rotate(65deg)
      background-color: #fbaa00
      z-index: -1

  &-title
    margin: 0 0 20px 0
    text-align: center
    line-height: 1em
    font-size: 120px
    font-family: "permanent_markerregular"
    text-transform: uppercase
    text-shadow:  -5px -5px 0px #510823
    color: #fa1862

  &-description
    display: flex
    justify-content: center
    font-size: 22px
    font-family: "serif"
    font-style: italic
    color: #4f3100

    &>p
      max-width: 80%

    .quote-mark
      font-size: 32px

  &-website
    &-link
      font-family: Courier New, Consolas, Monaco, Lucida Console, monospace
      color: #ff0
      text-decoration: none
      border-bottom: 2px dashed #ff0

  &-type-and-price
    font-family: Courier New, Consolas, Monaco, Lucida Console, monospace

  &-type
    text-transform: lowercase

    .type
      font-style: italic
      font-weight: bold

  &-price
    .price
      font-style: italic
      font-weight: bold

  &-reload
    position: fixed
    bottom: 40px
    left: 20px
    z-index: 3

  &-map-outter-container
    position: absolute
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    background-color: #1bc300
    z-index: 0

    .map
      height: 100vh
      width: 100vw
