.random-content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.random-content:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vh;
  height: 190vh;
  transform: translate(-50%, -50%) rotate(65deg);
  background-color: #fbaa00;
  z-index: -1; }

.random-title {
  margin: 0 0 20px 0;
  text-align: center;
  line-height: 1em;
  font-size: 120px;
  font-family: "permanent_markerregular";
  text-transform: uppercase;
  text-shadow: -5px -5px 0px #510823;
  color: #fa1862; }

.random-description {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-family: "serif";
  font-style: italic;
  color: #4f3100; }

.random-description > p {
  max-width: 80%; }

.random-description .quote-mark {
  font-size: 32px; }

.random-website-link {
  font-family: Courier New, Consolas, Monaco, Lucida Console, monospace;
  color: #ff0;
  text-decoration: none;
  border-bottom: 2px dashed #ff0; }

.random-type-and-price {
  font-family: Courier New, Consolas, Monaco, Lucida Console, monospace; }

.random-type {
  text-transform: lowercase; }

.random-type .type {
  font-style: italic;
  font-weight: bold; }

.random-price .price {
  font-style: italic;
  font-weight: bold; }

.random-reload {
  position: fixed;
  bottom: 40px;
  left: 20px;
  z-index: 3; }

.random-map-outter-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #1bc300;
  z-index: 0; }

.random-map-outter-container .map {
  height: 100vh;
  width: 100vw; }
